@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

.card {
  text-align: center;
  display: inline-block;
  margin: auto;
  margin-top: 10px;
  height: 390px;
  font-size: 50px;
  width: 250px;
  padding: 20px;
  padding-top: 180px;
  border-radius: 5px;
  border: 1px solid black;
  position: relative;

  &:before {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 80px;
  }
  &:after {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 80px;
  }
  &.spade:before,
  &.spade:after {
    content: "♠";
  }
  &.club:before,
  &.club:after {
    content: "♣";
  }
  &.heart:before,
  &.heart:after {
    content: "♥";
    color: red;
  }
  &.diamond:before,
  &.diamond:after {
    content: "♦";
    color: red;
  }
}
